[submodule "nanopb"]
	path = nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "cs-protobuf"]
	path = cs-protobuf
	url = git@github.com:airm-consulting/cs-protobuf.git
[submodule "mosquitto"]
	path = mosquitto
	url = git@github.com:eclipse/mosquitto.git
