[submodule "nanopb"]
	path = nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "cs-protobuf"]
	path = cs-protobuf
	url = git@github.com:airm-consulting/cs-protobuf.git

[submodule "curl"]
	path = curl
	url = git@github.com:curl/curl.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
